.images{
    height: 250px;
}

body{
    background-color: #544F53 ;
    font-family: 'Nunito Sans', sans-serif;
}
#box{
    display: flex;
    justify-content: space-evenly;

}
#cities{
    display: flex;
    justify-content: space-evenly;

}

*{
    margin:0;
    padding: 0;

}
figure{
    position: relative;
}
.t{
    position: absolute;
    top: 0;
    left: 0;
    background-color:#AB1F83  ;
    color: white;
    font-size: 24px;
}
figcaption::after{
    content:"T6 | CONDUIT | INFRASTRUCTURE";
    font-size: 16px;

}
figcaption{
    font-size: 24px;

}
